<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" route>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
</div>

<div class="container mt-5">
  <h3>Insurance</h3>
  <ul>
    <li>
      <a [routerLink]="[{outlets : {questions:['vechile_insurance']}}]">Vechile</a>
    </li>
    <li>
      <a [routerLink]="[{outlets:{questions:['home_insurance']}}]">Home</a>
    </li>
    <li>
      <a [routerLink]="[{outlets:{questions:['medical_insurance']}}]">Medical</a>
    </li>
  </ul>
</div>
<hr>
<router-outlet name="questions"></router-outlet>